//登陆页面中的第1模块
.LoginTop {
    height: 900px;
    width: 100%;
    position: relative;
    background-image: url('/static/images/login-top.png');
    background-size: contain;
    > img {
        position: absolute;
        top: 30px;
        left: 35px;
    }
    > div {
        width: 1080px;
        height: 900px;
        margin: 0 auto;
        position: relative;
        .top-left {
            color: #fff;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            > span {
                font-size: 60px;
            }
            .left-under-line {
                width: 58px;
                border: 1px solid #fff;
                height: 1px;
                background: #fff;
                margin: 8px 0 11px 0;
            }
            > p {
                font-size: 20px;
                line-height: 40px;
            }
        }
        .top-right {
            right: 0;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}
//登陆页面中的第2模块
.LoginMiddle {
    height: 900px;
    width: 100%;
    position: relative;
    background-image: url('/static/images/login-middle.png');
    background-size: contain;
    .middle-top {
        text-align: center;
        color: #fff;
        padding-top: 124px;
        > span {
            font-size: 56px;
        }
        > p {
            font-size: 16px;
            line-height: 26px;
        }
        .top-under-line {
            width: 60px;
            border: 1px solid #fff;
            height: 1px;
            background: #fff;
            margin: 8px auto 15px auto;
        }
    }
}
//登陆页面中的第3模块
.LoginBottom {
    height: 900px;
    width: 100%;
    position: relative;
    background-image: url('/static/images/login-bottom.png');
    background-size: contain;
    > div {
        width: 1080px;
        height: 900px;
        margin: 0 auto;
        .bottom-left {
            text-align: left;
            color: #fff;
            padding-top: 288px;
            > span {
                font-size: 56px;
            }
            > p {
                font-size: 16px;
                line-height: 26px;
            }
            .top-under-line {
                width: 60px;
                border: 1px solid #fff;
                height: 1px;
                background: #fff;
                margin: 8px auto 15px auto;
            }
        }
    }
}