.LoginPop {
    background-color: #fff;
    width: 400px;
    height: 367px;
    border-radius: 20px;
    padding: 30px 50px;
    text-align: left;
    box-sizing: border-box;
    .login-title {
        font-size: 18px;
        color: 333;
        margin-bottom: 46px;
    }
    > form {
        .form-div {
            width: 100%;
            height: 70px;
        }
        input {
            height: 36px;
            line-height: 36px;
            margin-bottom: 4px;
            font-size: 16px;
            color: #666;
            border-bottom: 1px solid #ddd;
            border-top: none;
            border-left: none;
            border-right: none;
            width: 300px;
            outline: none;
            &::-webkit-input-placeholder { /* WebKit browsers */
                color:    #ccc;
            }
            &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
                color:    #ccc;
            }
            &::-moz-placeholder { /* Mozilla Firefox 19+ */
                color:    #ccc;
            }
            &:-ms-input-placeholder { /* Internet Explorer 10+ */
                color:    #ccc;
            }
        }
        label.has-error {
            font-size: 12px;
            color: #f07;
        }
        > a {
            font-size: 12px;
            color: #999;
            display: block;
            text-align: right;
            margin-top: -24px;
            cursor: pointer;
            text-decoration: none;
            &:hover {
                color: #f07;
            }
        }
        .button-group {
            margin-top: 45px;
            > button {
                height: 38px;
                width: 140px;
                font-size: 16px;
                cursor: pointer;
            }
            .login {
                color: #fff;
                background: #f07;
                border: none;
            }
            .register {
                color: #f07;
                background: #fff;
                border: 1px solid #f07;
                margin-left: 20px;
            }
        }
    }

}