body {
    background: #f2f2f2;
    padding: 100px 0 0 200px;
}

.records-container {
    width: 1000px;
    margin: 0 auto;
    background: #fff;
    .records-title {
        height: 40px;
        line-height: 40px;
        width: 100%;
        padding: 0 20px;
        font-size: 16px;
        color: #333;
        border-bottom: 1px solid #ddd;
    }
    .records-content {
        width: 100%;
        padding: 20px 30px;
    }
}

.popContent {
    font-size: 18px;
    color: #333;
    text-align: center;
    >div {
        margin-bottom: 45px;
    }
    > button {
        background: #f07;
        color: #fff;
        font-size: 14px;
        height: 34px;
        line-height: 34px;
        width: 80px;
        border: none;
        cursor: pointer;
    }
    #collection-certain {
        margin-right: 20px;
    }
}